header .navbar {
    font-family: "Raleway-Bold";
}

.header-wrap {
    border-bottom: 1px solid white;
}

.header-wrap,
.header-wrap a {
    color: white;
}

.header-wrap a:focus,
.header-wrap a:hover {
    color: rgb(191, 211, 62);
    text-decoration: none;
}

.logo-wrap img {
    max-width: 450px;
    height: auto;
    max-height: 85px;
}

.logo-wrap h4 {
    margin: 0;
    font-family: "Raleway-Regular";
}

.navbar-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.nav-item-flex {
    flex: 1 0 auto;
    padding: 5px;
}

.header-flex-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.header-flex-item {
    flex: 1 0 auto;
}

@media screen and (min-width: 768px) {
    .navbar-center {
        flex-direction: row;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
    }
}